*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
html{
    background-color: whitesmoke ;
}
ul ol{
    list-style: none;
}
/*CSS correspondiente al header*/
header{
    display: flex;
    justify-content: left;
    width: auto;
    background-color: #124076;
    padding: 10px 10%;
}
header div {
        display: flex;
        justify-content: left;
        align-items: center;
        width: auto;
        background-color: #124076;
        padding: 10px 10%;
    
}
nav{
    margin: auto;
    max-width: 900px;
    margin: auto;
    font-size: 20px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color:#FFC374 ;
    text-decoration: none;
}
.menu-horizontal >li:hover{
    background-color:#7F9F80 ;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #124076;
    text-align: left;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;

}
.menu-vertical li:hover{
    background-color: #7F9F80;
}
.menu-vertical li a{
    display: block;
	color: #F9E897;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
}
nav a{
    text-decoration: none;
    color: #FFC374;
}
.menu-vertical li{

}
/*CSS correspondiente al body*/
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    background-color: #F9E897;
    margin: 0px;
    border: 0px;
    padding: 2%;
}
body p{
    text-align: justify;
    text-indent:2em ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2%;
    
}



h1{
    font-size: 4em;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.logoPW{
    width: 4em;
    display: flex;
    align-items: center;
    padding: auto;
}

/*CSS correspondiente al fooder*/
footer{
    background-color: #7F9F80;
}
footer p{
    align-items: center;
    text-align: center;
}