*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
html{
    background-color: whitesmoke ;
}
ul ol{
    list-style: none;
}
/*CSS correspondiente al header*/
header{
    display: flex;
    background-color: #124076;
justify-content: center;
    align-items: center;
}
header div {
        display: flex;
        align-items: center;
        background-color: #124076;
        padding: 0;
        margin: 0;
        justify-content: space-between
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.logoPW{
    width: 50px;
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    margin: 0;
}
nav{
    margin: auto;
    max-width: 900px;
    margin: auto;
    font-size: 20px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color:#FFC374 ;
    text-decoration: none;
}
.menu-horizontal >li:hover{
    background-color:#7F9F80 ;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #124076;
    text-align: left;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;

}
.menu-vertical li:hover{
    background-color: #7F9F80;
}
.menu-vertical li a{
    display: block;
	color: #F9E897;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
}
nav a{
    text-decoration: none;
    color: #FFC374;
}
.menu-vertical li{

}
/*CSS correspondiente al body*/
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    background-color: #F9E897;
    margin: 0px;
    border: 0px;
    padding: 2%;
}
body p{
    text-align: justify;
    text-indent:2em ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2%;
    
}

h1{
    font-size: 4em;
}
/*menu de noavegación imagenes*/
div.container{
    justify-content: center;
    align-items: center;
}
.container{
    width: 730px;
    height: 300px;
    padding: 10px;
 
}
.slider{
    position:relative;
    list-style: none;
    width: 730px;
    height: 300px;
}
.slider li{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    width: inherit;
    height: inherit;
}
.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.slider li:first-child{
    opacity: 1;
}
.menu-slider li{
    list-style: none;
    text-align: center;
    display: inline-block;
}
.menu-slider li a{
    background-color: #124076;
    color: #FFC374;
    text-decoration: none;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block ;
}
.slider li:target{
    opacity:1;
}
/*CSS correspondiente al fooder*/
footer{
    background-color: #7F9F80;
}
footer p{
    align-items: center;
    text-align: center;
}