*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
html{
    background-color: #fdfdfd ;
}
header{
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    background-color: #124076;
    padding: 10px 10%;
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #7F9F80;
}
div{
    background-color: #F9E897;
    margin: 0px;
    border: 0px;
    padding: 2%;
}
p{
    text-align: justify;
    text-indent:2em ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 0 20px;
}
nav ul li a li{
    background-color: brown;
    color: brown;
}
h1{
    font-size: 3em;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.logoPW{
    width: 4em;
    display: flex;
    align-items: center;
    padding: auto;
}
.divHd{
    background-color: #416D19;
    display: flex;
}
