/*.color1 {color: #242d33;}
.color2 {color: #475a7b;} texto
.color3 {color: #7e9c00;} fondo de body y letras menu header
.color4 {color: #ede641;}
.color5 {color: #ffff9a;}*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
html{
    background-color: #242d33 ;
}
ul ol{
    list-style: none;
}
/*CSS correspondiente al header*/
header{
    display: flex;
    background-color: #242d33;
    justify-content: center;
    align-items: center;
}
header div {
        display: flex;
        align-items: center;
        background-color: #242d33;
        padding: 0;
        margin: 0;
        justify-content: space-between
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.logoPW{
    width: 50px;
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    margin: 0;
}
/*Css correspondiente a al barra de navegación*/
nav{
    margin: auto;
    max-width: 900px;
    margin: auto;
    font-size: 20px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color:#ede641 ;
    text-decoration: none;
}
.menu-horizontal >li:hover{
    background-color:#ffff9a ;
    color: #242d33;
}
.menu-horizontal > li > a:hover{
    color: #242d33;
}

/*CSS correspondiente al body*/
body{
    background-color: whitesmoke ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    margin: 0px;
    border: 0px;
    padding: 2%;
    justify-content: center;
}
body p{
    text-align: justify;
    text-indent:2em ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2%;
    
}

.video{
    padding: 0px 100px 0px ;

}   


h1{
    color: #475a7b;
    text-align: center;
    font-size: 4em;
}
/*menu de noavegación imagenes*/

.container{
 flex-direction: column;
 justify-content:center;
 align-items:center;
 display:flex;
}
.slider{
    position:relative;
    list-style: none;
    width: 730px;
    height: 300px;
}
.slider li{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    width: inherit;
    height: inherit;
}
.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider li:first-child{
    opacity: 1;
}
.menu-slider li{
    list-style: none;
    text-align: center;
    display: inline-block;
}
.menu-slider li a{
    background-color: #124076;
    color: #FFC374;
    text-decoration: none;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block ;
}
.slider li:target{
    opacity:1;
}
/*esta en construcción para poder centrar las noticias para todos*/
/*Menu navegación body*/
.divbody{
    display: flex;
    padding: 0;
    align-items: star;
    justify-content: flex-start;
}
.divbody :first-child{
    padding-top:2px ;
    padding-left:0;
    padding-bottom: 0;
}
.divmenu{
    margin: 0;
    border: 0;
    background-color:#ede641;
    width: 20%;
    border-left: 0px;
    border: solid;
    border-color: #242d33;
    align-items:center;
    justify-content:start;
    font-size: 2em;
}
.ulmenu{
list-style: none;
text-decoration: none;   
}
.ulmenu a{
    text-decoration: none;   
    }
/*CSS mapa interactivo*/
.mapadiv{
    width: inherit;
    margin: auto
}
.mapadiv path{
    fill: #124076;
    stroke: #FFC374;
    stroke-width: 3px;
}
.mapadiv :hover{
    fill: #ffff9a;
}
/*CSS correspondiente al fooder*/
footer{
    background-color: #242d33;
    color: #7e9c00;
}
footer p{
    align-items: center;
    text-align: center;
}