.color1 {color: #242d33;}
.color2 {color: #475a7b;} /*texto*/
.color3 {color: #7e9c00;} /*fondo de body y letras menu header*/
.color4 {color: #ede641;}
.color5 {color: #ffff9a;}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
html{
    background-color: #242d33 ;
}
ul ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/*CSS correspondiente al header*/
header{
    display: flex;
    background-color: #242d33;
    justify-content: center;
    align-items: center;
}
header div {
        display: flex;
        align-items: center;
        background-color: #242d33;
        padding: 0;
        margin: 0;
        justify-content: space-between
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.logoPW{
    width: 50px;
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    margin: 0;
}
nav{
    margin: auto;
    max-width: 900px;
    margin: auto;
    font-size: 20px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color:#ede641 ;
    text-decoration: none;
}
.menu-horizontal >li:hover{
    background-color:#ffff9a ;
    color: #242d33;
}
.menu-horizontal > li > a:hover{
    color: #242d33;
}

/*CSS correspondiente al body*/
body{
    background-color: whitesmoke ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    margin: 0px;
    border: 0px;
    justify-content: center;
}
body p{
    text-align: justify;
    text-indent:2em ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2%;
    
}

h1{
    color: #475a7b;
    text-align: center;
    font-size: 4em;
}
/*menu de noavegación imagenes*/
/*esta en construcción para poder centrar las noticias para todos*/
/*Menu navegación body*/
.divbody{
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    align-items: star;
    justify-content: flex-start;
}
.divbody :first-child{
    padding-top:2px ;
    padding-left:0;
    padding-bottom: 0;
}
.divmenu{
    margin: 0; 
    background-color:#7e9c00;
    color: #ede641;
    width: 20%;
    align-items:center;
    justify-content:start;
    font-size: 2em;
}
.ulmenu{
list-style: none;
text-decoration: none;
}
.ulmenu a{
    text-decoration: none;
    color: #ede641;   
    }
.cuerpo{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/*CSS mapa interactivo*/
.mapadiv{
    width: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    
}
.mapadiv path{
    fill: #7e9c00;
    stroke: #242d33;
    stroke-width: 3px;
}
.mapadiv :hover{
    fill: #242d33;
}
.mapadiv g text{
    fill: #ffff9a;
    font-family:;
}
.galeria{
    height: 400px;
    width: 400px;
    border-radius: 10%;

}
h2{
    font-size: 3em;
    text-align: center;
    color: #242d33
}

/*CSS correspondiente al fooder*/
footer{
    background-color: #242d33;
    color: #7e9c00;
}
footer p{
    align-items: center;
    text-align: center;
    background-color: #242d33;
    color: #7e9c00;
    margin: 0;
}