selector1 {
    regla1: valor;
    regla2: valor;
    regla3: valor;
    reglaN: valor;
}
selector2 {
    regla1: valor;
    regla2: valor;
    regla3: valor;
    reglaN: valor;
}
selector3 {
    regla1: valor;
    regla2: valor;
    regla3: valor;
    reglaN: valor;
}
selectorN {
    regla1: valor;
    regla2: valor;
    regla3: valor;
    reglaN: valor;
}